*{
    margin:0px;
    padding:0px;
}

html{
    scroll-behavior: smooth;
}
#logo img{
    width:100px;
    height: 92px;
    margin: -5px -30px;
}

#logo{
    margin: 0px 30px;
}

#navbar{
   display:flex;
   align-items: center; 
   position: sticky;
   top:0px;
}

#navbar ul{
    display: flex;
    font-family: 'Baloo Tamma 2', cursive;
   
}

#navbar::before{
    content:"";
    background-color: black;
    position: absolute;
    top:0px;
    left:0px;
    height: 100%;
    width: 100%;
    z-index:-1;
    opacity: 0.4;
}

#navbar ul li{
    list-style: none;
    font-size: 1.3rem;

}

#navbar ul li a{
    color: white;
    display:block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
}

#navbar ul li a:hover{
    color: black;
    background-color: blanchedalmond;
}

#home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 500px;
    justify-content: center;
    align-items: center;

}

#home::before{
    content:"";
    background:url("bg2.jpg") no-repeat center center/cover;
    position: absolute;
    height: 642px;
    width: 100%;
    top: 0px;
    z-index:-1;
    opacity:0.8;
}

#home h1{
    color:white;
    text-align: center;
    font-family: 'Baloo Tamma 2', cursive;

}

#home p{
    color:white;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Roboto Slab', serif;
}

#services{
    margin: 34px;
    display: flex;

}
#services .box{
    border: 2px solid brown;
    padding: 30px;
    margin: 25px 30px;
    border-radius: 10px;
    background-color:wheat;

}
#services .box img{
   height: 200px;
   display: block;
   margin: auto;
    
}
.services .box p{
    font-family: 'Roboto Slab', serif;
}

#clients{
    display: flex;
    justify-content: center;
  
    align-items: center;
}
/* #client-section{
    /* position: relative;} */


#client-section::before{
    content: "";
    position: absolute;
    background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRLZWEUV9PkOV7LICceoh9cpzOsmrHfA6G12A&usqp=CAU');
    width: 100%;
    height: 50%;
    z-index: -1;
    opacity: 0.3;
}
#clients img{
    height: 110px;
}
.client-item{
    padding: 50px;
}

#contact{
    position: relative;
}

#contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.4;
    background: url('');
}

#contact-box{
   display: flex;
   align-items: center;
   justify-content: center;
   padding-bottom: 34px;
}

#contact-box input,
#contact-box textarea{
    width: 100%;
    padding: 0.4rem;
    border-radius: 9px;
    font-size: 0.8rem;
}

#contact-box form{
    width: 33%;
}

#contact-box label{
    font-size: 1.1rem;
    font-family: 'Roboto Slab', serif;
}
footer{
    background: black;
    color: blanchedalmond;
    padding: 6px 20px;
    font-family: 'Roboto Slab', serif;
    font-size: 0.8rem;
}

.h-primary{
    font-size: 3.5rem;
    padding: 40px;
    font-family: 'Roboto Slab', serif;
}

.h-secondary{
    font-size: 1.9rem;
    padding: 12px;
    font-family: 'Roboto Slab', serif;
}

.btn{
    padding: 6px 20px;
    border: 2px solid white;
    background-color: rgb(200, 96, 96);
    color:cornsilk;
    margin: 18px;
    font-size: 1.2rem;
    border-radius: 10px;
    cursor: pointer;
}

.center{
    text-align: center;
}